<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="pictos" xsi:type="array">
                    <item name="class" xsi:type="string">Bpfnet\ProductPictos\Ui\DataProvider\Product\Form\Modifier\Pictos</item>
                    <item name="sortOrder" xsi:type="number">100</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pictos_listing_data_source" xsi:type="string">BpfnetPictosCollection</item>
                <item name="pictos_form_data_source" xsi:type="string">BpfnetPictosCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="BpfnetPictosCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bpfnet_product_pictos</argument>
            <argument name="resourceModel" xsi:type="string">Bpfnet\ProductPictos\Model\ResourceModel\Picto</argument>
        </arguments>
    </virtualType>
</config>
